<div class="page">
  <div *ngIf="step == 1" class="container">
      <h2 class="title">First Step</h2>
      <p class="sub-title">Review the documents</p>
      <div class="wrap">
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>File Name</th>
            </tr>
          </thead>
          <tbody *ngIf="files">
            <tr *ngFor="let file of files">
              <td>{{file.time | date:'medium'}}</td>
              <td>{{file.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn-wrap">
        <button class="btn btn-primary next" (click)="next()">Next</button>
      </div>
    </div>
  <div *ngIf="step == 2" class="container">
      <h2 class="title">Second Step</h2>
      <p class="sub-title">Select an option</p>
      <div class="wrap">
        <div *ngFor="let option of options;let i = index" class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedOption">
          <label ngbButtonLabel class="btn-primary options">
            <input ngbButton type="radio" [value]="options[i]"> option {{options[i]}}
          </label>
        </div>
      </div>
      <div class="btn-wrap">
        <button class="btn btn-primary" (click)="back()">Back</button>
        <button class="btn btn-primary next" (click)="next()">Next</button>
      </div>
  </div>
  <div *ngIf="step == 3" class="container">
      <h2 class="title">Third Step</h2>
      <p class="sub-title">Fill out the form</p>
      <div class="wrap">
        <form [formGroup]="userForm">
          <div class="form-group">
            <label for="exampleInputPassword1">Name</label>
            <input class="form-control" formControlName="name" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Address</label>
            <input class="form-control" formControlName="address" placeholder="Enter Address">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Phone Number</label>
            <input type="phone" class="form-control" formControlName="phone" aria-describedby="phoneHelp" placeholder="Enter phone number">
            <small id="phoneHelp" class="form-text text-muted">Phone Number must respect the format 555-555-5555</small>
          </div>
        </form>
      </div>
      <div *ngIf="formSubmitted" class="errors">
        <div *ngIf="userForm.get('name').errors">
          Name Required
        </div>
        <div *ngIf="userForm.get('address').errors">
          Invalid Address 
        </div>    
        <div *ngIf="userForm.get('email').errors">
          Invalid email
        </div>
        <div *ngIf="userForm.get('phone').errors">
          Invalid Phone Number.
        </div>
      </div>
      <div class="btn-wrap">
        <button class="btn btn-primary" (click)="back()">Back</button>
        <button type="submit" class="btn btn-primary next" ngbTooltip="Form is Invalid"
        triggers="manual" #t="ngbTooltip" (click)="submitForm(t)">Next</button>
      </div>
  </div>
  <div *ngIf="step == 4" class="container">
      <h2 class="title">Last Step</h2>
      <p class="sub-title">Review before submitting</p>
      <div class="wrap">
        <table>
          <thead>
            <tr>
              <th>Time</th>
              <th>File Name</th>
            </tr>
          </thead>
          <tbody *ngIf="files">
            <tr *ngFor="let file of files">
              <td>{{file.time | date:'medium'}}</td>
              <td>{{file.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="wrap">
        <div class="review">
          <div class="review-item"><b>Selected Option:</b> {{selectedOption}}</div>
          <div class="review-item"><b>Name:</b> {{nameControl.value}}</div>
          <div class="review-item"><b>Address:</b> {{addressControl.value}}</div>
          <div class="review-item"><b>Email:</b> {{emailControl.value}}</div>
          <div class="review-item"><b>Phone:</b> {{phoneControl.value}}</div>
        </div>
      </div>
    <div class="btn-wrap">
      <button class="btn btn-primary" (click)="back()">Back</button>
      <button class="btn btn-primary next" (click)="next()">Submit</button>
    </div>
  </div>
  <div *ngIf="step == 5" class="container">
    <div class="wrap">
      <h2>End of Demo!</h2>
    </div>
  </div>
</div>