.page{
    height: 100vh;
    width:100vw;
    display: flex;
    justify-content: center;
}
.container{
    padding: 80px 0px;
    width: 50%;
}
.wrap{
    display: flex;
    justify-content: center;
}
.sub-title{
    padding:0.6em 0;
}
.btn{
    background-color: #3aba74;
    border: none;
}
.btn.active{
    background-color: #3b70b7;
}
.btn-wrap{
    width:100%;
    padding-top:2em;
}
.btn.next {
    float: right;
}
th, td{
    padding:5px 20px;

}
.options{
    margin:0px 0.5em;
}
.errors{
    color:red;
}
.review, .review-item{
    padding-top: 1em;
}
@media only screen and (max-device-width: 956px) {
    .container{
        width:80%;
    }
}